[data-component="slideshow"] .slide {
  display: none;
}

[data-component="slideshow"] .slide.active {
  display: flex;
}

.slide {
    height: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
}

#slideshow-example {
    height: 100%;

}

.list {
    height: 100%;
    align-items: center;
}

html,
body {
    margin: 0px;
    height: 100%;
}

img {
    flex: 1;
    object-fit: cover;
    align-items: center;
    overflow: hidden;
}
